<p>
  <strong> <%= @person_name %> </strong>
  <br>
  
  <strong> Weight </strong>
  <p><%= @post.weight %></p>

  <strong> Details </strong>
  <p><%= @post.details %></p>

  <strong> Flight Schedule </strong>
  <p><%= @post.date_of_flight %></p>

</p>
