
.navbar-default{
	padding-left: 70px;
	padding-right: 70px;
}

.nav > .btn{
	margin-top: 8px;
}


#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -230px;
  left: 250px;
  width: 250px;
  position: fixed;
  background-color: aliceblue;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  border: rgb(224, 224, 250) 1px solid;
  /*height: 100%;*/
  /*overflow-y: auto;*/
  /*z-index: 1000;*/
  /*transition: all 0.4s ease 0s;*/
}

#page-content-wrapper {
  /*width: 100%;*/
  margin-left: 30px;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel-inner{
  /*width:100%;*/
  max-width: 400px;
  max-height: 300px !important;
}