
.navbar-default{
	padding-left: 70px;
	padding-right: 70px;
}

.nav > .btn{
	margin-top: 8px;
}


#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -230px;
  left: 250px;
  width: 250px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
  margin-left: 30px;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-brand .img { 
    max-width: 70%; 
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0; 
}

.btn.outline {
  color: #eeeeee;
  background: none;
  border: 2px solid #eeeeee;
}
.btn-default.outline {
    border: 2px solid #eeeeee;
    color: #eeeeee;
}
.btn-default.outline:hover, .btn-default.outline:focus, .btn-default.outline:active, .btn-default.outline.active, .open > .dropdown-toggle.btn-default {
    color: #00a7d7;
    border-color: #eeeeee;
    background-color: #eeeeee;
}
.btn-default.outline:active, .btn-default.outline.active {
    border-color: #eeeeee;
    color: #00a7d7;
    background-color: #eeeeee;
    box-shadow: none;
}
