// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-pic{
	border-radius: 1000px;
	height: 100px;
}

.profile-pic-sm{
	border-radius: 1000px;
	height: 50px;
}

.post-ad{
	margin-top: 20px;
	margin-left: 20px;
	padding-top: 20px;
}

.post-name{
	border-bottom: aliceblue 1px solid;
}

.post-content{
	padding-left: 0px;
}

.post-preview{
	padding-left: 60px;
}

.add-bid{
	background-color: aliceblue;
	padding-top: 15px;
	padding-bottom: 15px;
}