
<div>
  
  <strong>Poster</strong> <%= Person.find(@transaction.poster).fullname %> <br>
  <strong>Bidder</strong> <%= Person.find(@transaction.bidder).fullname %><br>
  <strong>Date</strong> <%= @transaction.date %> <br>

</div>
